:root {
  --font-family: "Oxygen", sans-serif;
  --second-family: "Sansita", sans-serif;
  --third-family: "Inter", sans-serif;
}
body{
  background: #84b9f6;
  font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 156%;
color: #151515;
}
h2{
  font-family: var(--second-family);
font-weight: 700;
font-size: 44px;
line-height: 109%;
text-align: center;
color: #fff;
text-shadow: 0 4px 4px 0 #5b9de9;
}