.home-section{
  background-image: url("/img/hero/mob.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 1037px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

@keyframes pulse-animation {
  0% {
      transform: scale(1);
      opacity: 1;
  }

  50% {
      transform: scale(1.02);
      opacity: 0.9;
  }

  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.hero-btn.pulse {
  animation: pulse-animation 2s infinite;
  transition: transform 0.3s ease;
  display: flex;
width: 335px;
  height: 101px;
  margin-left: auto;
  margin-right: auto;

}
.home-subtitle{
  margin-top: 28px;
  font-family: var(--second-family);
font-weight: 700;
font-size: 28px;
line-height: 114%;
color: #fff;
text-align: left;

}
.hero-text-wrapper{
  margin-top: 20px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #151515;
}
@media only screen and (min-width: 1440px) {
.home-section{
background-image: url("/img/hero/desk.png");
height: 800px;
}
.home-wrapper{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 80px;
}
.hero-wrapper{
  width: 730px;
height: 413px;
}
.home-subtitle{
  font-size: 36px;
}
.hero-text-wrapper{
  font-size: 20px;
  line-height: 140%;
}
.hero-btn.pulse {
  width: 379px;
  height: 101px;
  margin-left: 0;
  margin-right: auto;

}
}