.home-section{
  background-image: url("/img/hero/mob.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 1037px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

@keyframes pulse-animation {
  0% {
      transform: scale(1);
      opacity: 1;
  }

  50% {
      transform: scale(1.02);
      opacity: 0.9;
  }

  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.hero-btn.pulse {
  animation: pulse-animation 2s infinite;
  transition: transform 0.3s ease;
  display: flex;
width: 335px;
  height: 101px;
  margin-left: auto;
  margin-right: auto;

}
.home-subtitle{
  margin-top: 28px;
  font-family: var(--second-family);
font-weight: 700;
font-size: 28px;
line-height: 114%;
color: #fff;
text-align: left;

}
.hero-text-wrapper{
  margin-top: 20px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #151515;
}
@media only screen and (min-width: 1440px) {
.home-section{
background-image: url("/img/hero/desk.png");
height: 800px;
}
.home-wrapper{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 80px;
}
.hero-wrapper{
  width: 730px;
height: 413px;
}
.home-subtitle{
  font-size: 36px;
}
.hero-text-wrapper{
  font-size: 20px;
  line-height: 140%;
}
.hero-btn.pulse {
  width: 379px;
  height: 101px;
  margin-left: 0;
  margin-right: auto;

}
}
/* Disclaimer */
.disclaimer-section{
  background-image: url("/img/disclaimer/mob.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.disclaimer-container{
  padding: 40px 20px;
}
.disclaimer-text{
  font-family: var(--font-family);
font-weight: 700;
font-size: 24px;
line-height: 133%;
color: #001431;
}
@media only screen and (min-width: 1440px) {
  .disclaimer-section{
    background-image: url("/img/disclaimer/desk.png");
  }
  .disclaimer-container{
    padding: 40px 116px;
  }
  .disclaimer-text{
    font-size: 32px;
line-height: 125%;
  }
}
/* Place */
.place-section{
  background-image: url("/img/place/mob.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 902px;
}
.place-title{
  text-align: left;
}
.place-text-wrapper{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
}
@media only screen and (min-width: 1440px) {
  .place-section{
    background-image: url("/img/place/desk.png");
    height: 634px;
  }
  .place-title{
    text-align: center;
  }
  .place-text-wrapper{
    margin-top: 60px;
    width: 586px;
    margin-left: 0;
    margin-right: auto;
    gap: 30px;
  }
}
/* Big */
.big-section{
  background-image: url("/img/big/mob.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
@media only screen and (min-width: 1440px) {
.big-section{
  background-image: url("/img/big/desk.png");
}
}
/* Gods */
.gods-text-wrapper{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
 
}
.gods-text-one{
  font-weight: 700;
  text-align: center;
  color: #0041a2;
  width: 320px;
}
.gods-text-two{
  text-align: center;
}
@media only screen and (min-width: 1440px) {
 .gods-title{
  width: 433px;
  margin-left: auto;
  margin-right: auto;
 }
 .gods-text-wrapper{
  margin-top: 60px;
  gap: 30px;
 }
 .gods-text-one{
  width: 870px;
 }
 .mob{
  display: none;
 }
 .gods-text-two{
  width: 905px;
 }
}
/* Game */
.game-section{
  background-image: url("/img/game/mob.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 789px;
}
.game-text{
  margin-top: 40px;
}
.desk{
  display: none;
}
@media only screen and (min-width: 1440px) {
  .game-section{
    background-image: url("/img/game/desk.png");
    height: 512px;
  }
  .game-title{
    margin-left: 635px;
    width: 625px;
    text-align: left;
  }
  .game-text{
    margin-top: 60px;
    margin-left: 635px;
    width: 625px;
  }
  .desk{
    display: block;
  }
}
/* Dream */
.dream-section{
  background-image: url("/img/dream/mob.png");
  background-repeat: no-repeat;
  background-position: top  center;
  background-size: cover;
}
.dream-list{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}
.dream-item{
  position: relative;
    display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      border: 1px solid #1671d9;
        border-radius: 20px;
        width: 335px;
        height: auto;
        background: #58a6ff;
        padding: 60px 16px 40px ;
}
.number-img{
  position: absolute;
  z-index: 1;
  top: -7%;
  width: 72px;
    height: 72px;
}
.dream-item-title{
  font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #fff;
}
.dream-item-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;
}
.fish{
  position: absolute;
  width: 122px;
    height: 120px;
    z-index: 1;
    bottom: -16%;
    right: 0;
}
@media only screen and (min-width: 1440px) {
  .dream-section{
    background-image: url("/img/dream/desk.png");
  }
  .dream-list{
margin-top: 110px;
flex-direction: row;
align-items: start;
margin-left: 28px;
  }
  .dream-item{
width: 364px;
min-height: 348px;
padding: 74px 22px 27px;
  }
  .number-img{
    width: 100px;
      height: 100px;
      top: -14%;
  }
  .fish{
    width: 245px;
      height: 240px;
      bottom: -30%;
      right: -30%;
  }
}
/* Luck */
.luck-section{
  background-image: url("/img/luck/mob.png"), linear-gradient(180deg, #212598 0%, rgba(33, 37, 152, 0) 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: top center, top center;
  background-size: cover, cover;
  height: 784px;
}
.luck-title{
  text-align: left;
}
.luck-text{
    color: #fff;
    margin-top: 40px;
}
@media only screen and (min-width: 1440px) {
  .luck-section{
    background-image: url("/img/luck/desk.png"),linear-gradient(180deg, #212598 0%, rgba(33, 37, 152, 0) 100%);
  background-position: top  center;
    height: 480px;
  }
  .luck-title{
    margin-left: 50px;
  }
  .luck-text{
    margin-left: 50px;
    margin-top: 60px;
    width: 625px;
  }
}
/* Moments */
.moments-section{
  background-image:linear-gradient(180deg, rgba(51, 138, 233, 0) 0%, #4287ed 100%), url("/img/moments/mob.png");
  background-repeat: no-repeat, no-repeat;
  background-position:bottom center, top center;
  background-size:100% 161px, cover;
  height: 991px;
}
.moments-text{
  margin-top: 40px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14286;
    color: #fff;
}
.momemts-list{
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.moments-item{
  display: flex;
  gap: 20px;
  align-items: center;
    font-weight: 700;
    color: #fff;
}
@media only screen and (min-width: 1440px) {
  .moments-section{
     background-image:linear-gradient(180deg, #212498 0%, rgba(36, 41, 155, 0) 100%),linear-gradient(180deg, rgba(51, 138, 233, 0) 0%, #4287ed 100%), url("/img/moments/desk.png");
    background-size:100% 130px,100% 160px, cover;
    background-position: top center,bottom center, top center;
    background-repeat: no-repeat, no-repeat, no-repeat;
     height: 663px;
  }
  .moments-warpper{
    margin-right: 60px;
    margin-left: auto;
    width: 609px;
  }
  .moments-title{
    text-align: left;
  }
  .moments-text{
    margin-top: 60px;
    font-size: 36px;
      line-height: 1.11111;
  }
}
/* Demo */
.demo-section {
  background-image: url("/img/demo/mob.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

}

.demo-container {
  position: relative;

}
.demo-text{
  margin-top: 24px;
  font-size: 24px;
  line-height: 1.33333;
    text-align: center;
    color: #fff;
}
.demo-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 40px auto 0;
  height: 602px;
}

.game-img {
width: 335px;
  height: 602px;
}

/* ===== КНОПКА ===== */

.demo-btn {
  position: absolute;
  z-index: 10;
  display: inline-block;
  cursor: pointer;
  top: 80%;
  left: 50%;
  width: 231px;
  height: 70px;
  transform: translate(-50%, -50%);
}

.demo-img {
  display: block;
  width: 100%;
  height: auto;
}

/* ===== ФОН ===== */

.game-img {
  width: 100%;
  display: block;
}

/* ===== IFRAME ===== */

.iframe-wrapper {
  position: absolute;
  top: 1%;
  left: 35%;
  transform: translateX(-48%);
  width: 68%;
  height: 54%;
  z-index: 20;

  /* 🔥 ГОЛОВНЕ ВИПРАВЛЕННЯ */
  pointer-events: none;
}

#gameIframe {
  width: 137%;
  height: 178%;
  border: none;
  display: none;
  background: #000;
border-radius: 34px;
}

/* АКТИВНИЙ СТАН */
.iframe-wrapper.active {
  pointer-events: auto;
}

#gameIframe.active {
  display: block;
}

/* ===== КНОПКА ЗАКРИТТЯ ===== */

#closeIframeBtn {
  position: absolute;
  top: 20px;
  right: -50px;

  background: none;
  border: none;
  cursor: pointer;

  display: none;

  z-index: 9999;
  /* 🔥 НАД iframe */
  pointer-events: auto;
}

#closeIframeBtn.active {
  display: block;
}

.close-img {
  width: 24px;
  height: 24px;

}

@media only screen and (min-width: 1440px) {
  .demo-section {
    background-image:url("/img/demo/desk.png");
  }
.moments-text{
  font-size: 32px;
    line-height: 1.25;
}
.demo-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 60px auto 0;
height: 569px;
}

.game-img {
width: 1010px;
  height: 569px;
  margin-left: auto;
  margin-right: auto;
}
.iframe-wrapper {
  position: absolute;
  top: 3%;
  left: 42%;
  transform: translateX(-48%);
  width: 68%;
  height: 54%;
  z-index: 20;

  /* 🔥 ГОЛОВНЕ ВИПРАВЛЕННЯ */
  pointer-events: none;
}

#gameIframe {
  width: 118%;
  height: 168%;
  border: none;
  display: none;
  background: #000;
  border-radius: 20px;
}
  }